body{
    font-family: 'Roboto', sans-serif;
}



section{
    height:500px;
    background-color: rgb(255, 255, 255);
    border: solid black 1px;
}

.hero{
    background-color: rgb(26, 26, 37);
    height:100vh;
    color:white;
    font-size: 40px;
}

footer{
    height:500px;
    background-color: black;
}
nav{
    display:flex;
    justify-content: space-between;
}

ul{
    display:flex;
    list-style-type: none;
    width:700px;
    justify-content: space-around;
    font-size:30px;
}

li{
    text-decoration: none;
}

h1{
    font-size: 90px;
    margin: 0px;
}
p{
    margin: 0px;
}

.hero-text{
    margin-left: 80px;
}

.button{
    width: 200px;
    height: 60px;
    background-color: coral;
    border-radius:30px;
    text-align:center;
}