html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Roboto', sans-serif;
}



section{
    height:500px;
    background-color: rgb(255, 255, 255);
    
}

.subsection{
    display:flex ;
    justify-content: space-around;
    padding: 80px;
    align-items: center;
  
 }
 @media only screen and (max-width: 1000px)
{
    .subsection{
        margin-bottom: 400px;
    }
}
 .subsection2{
     display:flex;
     flex-direction:column;
     text-align:center;
     padding: 80px;
     justify-content: space-around;
 }
 @media only screen and (max-width: 1000px)
 {
     .subsection2{
         margin-bottom: 400px;
     }
 }

.hero{
    background-color: rgb(26, 26, 37);
    height:100vh;
    color:white;
    font-size: 40px;
}

footer{
    background-color: black;
    color:white;
    text-align:center;
    padding: 80px;
}

nav{
    display:flex;
    justify-content: space-between;
}

ul{
    display:flex;
    list-style-type: none;
    width:700px;
    justify-content: space-around;
    font-size:30px;
}
ul.show{
    display:block;
}

li{
    text-decoration: none;
}

h1{
    font-size: 90px;
    margin: 0px;
}
h2{
    font-size: 50px;
}
p{
    margin: 0px;
    font-size:30px;
    font-weight:300;
}

.hero-area{
    display:flex;
    height:100%;
    justify-content: space-between;
    align-items: center;
}
.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}

.button{
    width: 200px;
    height: 55px;
    background-color: coral;
    border-radius:30px;
    text-align:center;
    font-size:30px;
    font-weight:300;
    padding-top:15px;
    margin-top:20px;
}
.button:hover{
    background-color: orange;
}

.button:active{
    background-color: darkgrey;
    color: #808080
}

.socials{
    padding-bottom: 200px;
}

.logo{
    height:150px;
    margin:30px;
}
.social{
    margin: 10px;
}




.headshot{
    width:400px;
    border-radius: 50%;
    border: 5px solid black;

}

.headshot-container{
    display:flex;
    align-items: center;
}
.project{
    width:300px;
    height:500px;
    box-shadow:5px 5px 20px grey;
    margin:10px;
}

.projects{
    display:flex;
    justify-content: space-around;
    padding-bottom: 100px;
}
/*co kolwiek równe bądź mniejsze od 1000px
będzie miało inny styl*/
@media only screen and (max-width: 1000px)
{
    .projects{
        display:flex;
        flex-wrap:wrap;
    }
}
.projectDescription{
    font-size:15px;
    font-weight:300;
}
.project-image{
    margin-top:25px;
    width:250px;
    border-radius:125px;
}
hr{
    margin-left: 20px;
    margin-right:20px;
}
.project-link{
    text-decoration:none;
    color:coral;
}
a{
    text-decoration: none;
    color:white;
}
.hamburger{
    display:none;
}
.hamburger:focus{
    outline:0;
}

@media only screen and (max-width: 1000px){
    .hamburger{
        display:block;
        border: 0;
        background-color: transparent;
        color:white;
        font-size: 30px;
    }
    ul{
        display:none;
    }
        
}